<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>

	<connectionStrings>
		<add name="master SqLite" connectionString="data source=|DataDirectory|db.sqlite;binaryguid=True;datetimeformat=ISO8601;failifmissing=False;journal mode=Persist;pooling=False;synchronous=Normal;useutf16encoding=False" />
		<add name="master" connectionString="data source=|DataDirectory|db.sqlite;binaryguid=True;datetimeformat=ISO8601;failifmissing=False;journal mode=Persist;pooling=False;synchronous=Normal;useutf16encoding=False" />
		<add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Apiary.Data.Data.Model.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<runtime>
	</runtime>


</configuration>